.containerCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0px 1px 1px rgb(197, 197, 197);
    width: 12rem;
    border-radius: 5px;
}
.informacion{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: 2vh;
    
}
.informacion a{
    justify-content: left;
    display: flex;
    text-align: left;
    color: black;

}
.tenis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;


}
.info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-direction: row;
    width: 100%;
}
.buton{
    display: flex;
    justify-content:right;
    margin: auto;
    width: 100%;
    
}
.buton svg{
    cursor: pointer;
}