.containerNav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin: auto;
    box-shadow: 0px 1px 0px 0px black;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
   
}

.logo img{
    display: flex;
    width: 7rem;
    border-radius: 5px;
}
.logo img:hover{
    transform: scale(1.1);

}


a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: 'Poppins';
    margin: auto;
    width: auto;
}
.a:hover{
    box-shadow: 0px 1px 0px black;}
.menu a:hover{
    box-shadow: 0px 1px 0px black;

}
.buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}
.iconUser{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-right: 5%;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: auto;
    
}

  
@media screen and (max-width:950px) {
    .logo{
        justify-content: center;
        margin-left: 0;
    }
    .logo img{
        width: 4rem;
    }
    a{
        font-size: 0.8rem;
        margin-right: 1%;
    }
    .iconUser{
        margin-right: 0;
    }
    .iconUser svg{
        width: 2rem;
    }
}